/Fairhr.Cap/Comment/obj
/Fairhr.Cap/Comment/bin
/Fairhr.Cap/Fairhr.Service.A/obj
/Fairhr.Cap/Fairhr.Service.A/bin
/Fairhr.Cap/Fairhr.Service.B/obj
/Fairhr.Cap/Fairhr.Service.B/bin
/Fairhr.Cap/Fairhr.Service.C/obj
/Fairhr.Cap/Fairhr.Service.C/bin
